<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold mx-auto" href="#">Mon Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/blocs" routerLinkActive="active">Blocs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/etudiant" routerLinkActive="active">Etudiants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chambres" routerLinkActive="active">Chambres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservations" routerLinkActive="active">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/universites" routerLinkActive="active">Universités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/foyers" routerLinkActive="active">Foyers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
